@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); 

body {
  background-color: #000000;
  background-image: url('./images/planets.jpeg');
  background-position: 0 10px;
  background-repeat: no-repeat;
  color: white;
}
